<div class="contact-form-container">
    <div class="contact-form-column">
        <h1 class="display-2">SAY HELLO.<br />ASK US ANYTHING.</h1>
        <p class="fs-5">Want to share your work?<br />Interested in a workshop?<br />Want to teach a skill?</p>
    </div>
    <div class="contact-form-column">
        <form id="contact-form" action="https://formspree.io/f/manwregd" method="POST">
            <input class="shrink" type="email" name="email" placeholder="EMAIL" />
            <textarea class="grow" name="message" placeholder="MESSAGE"></textarea>
            <a id="contact-form-submit" href="#" class="nav-link shrink"><h5>SEND MESSAGE</h5></a>
            <p id="contact-form-status"></p>
        </form>
    </div>
</div>