{% if event.id %}
  {% assign title = event.title | markdownify | strip_html %}
{% else %}
  {% assign title = event.title %}
{% endif %}


{{event.frontmatter}}

<article class="entry">
  <header class="entry-header">
    <h3 class="entry-title">
      <a href="{{ event.url | relative_url }}" rel="bookmark">{{ title }}</a>
    </h3>
    {% if event.image.thumbnail %}
      {% assign entry_image = event.image.thumbnail | relative_url | escape %}
      <img class="entry-image u-photo" src="{{ entry_image }}" alt="">
    {% endif %}
  </header>
  <footer class="entry-meta">
    <ul>
    {% if event.event_date %}
      <li><span class="icon">{% include icon-calendar.svg %}</span>{% if event.ongoing %}Starting {% else %}On {% endif %}<time class="entry-time" datetime="{{ event.event_date | date_to_xmlschema }}">{{ event.event_date | date: "%B %-d, %Y" }}</time></li>
    {% else %}
      <li><span class="icon">{% include icon-calendar.svg %}</span>Coming soon!</li>
    {% endif %}
    </ul>
  </footer>
  <div class="entry-excerpt">
    {% if event.excerpt %}
      {{ event.excerpt | markdownify }}
      <p><a href="{{ event.url | relative_url }}" class="more-link">{{ site.data.theme.t.read_more | default: 'Read More' }} <span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span></a></p>
    {% endif %}
  </div>
</article>
