<nav class="navbar my-5 navbar-expand-lg">
  <div id="navbarNav" class="navbar-container">
    <ul class="navbar-nav">
      <li class="brand-container">
        <a class="navbar-brand" href="/">
          <img src="/assets/images/logo.png" alt="Makerdale logo" class="brand-logo" />
          <h1 class="display-5"><span>MAKER</span>DALE</h1>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://discord.gg/a39CNMxbUE"><h4>JOIN US ON DISCORD</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://eepurl.com/iL7XC-/"><h4>JOIN OUR EMAIL LIST</h4></a>
      </li>
    </ul>
  </div>
</nav>