.custom-bg-gradient {
    background: linear-gradient(180deg, #063139, #12565A);
}

.navbar-brand {
    color: $body-color;
    letter-spacing: .15rem;

    span {
        color: var(--bs-secondary-color);
    }

    &:hover {
        color: var(--bs-body-color);
        text-decoration: none;
        span {
            color: var(--bs-body-color);
        }
    }
}

.navbar-container {
    width: 100%;
}

.navbar-nav {
    width: 100%;
    align-items: center;

    .brand-container {
        display: inline-flex;
        flex: 1 0 auto;
    }

    .nav-item {
        flex: 0 1 auto;

        * {
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: .2rem;
        }
    }
}



a.nav-link {
    color: var(--bs-body-color);
    text-decoration: var(--bs-secondary-color) underline;
    text-underline-offset: 0.5rem;
    letter-spacing: .2rem;

    &:hover {
        color: $body-color;
        text-decoration-color: $body-color;
    }
}

a {
    color: $body-color;

    * {
        transition: text-decoration-color .5s;
    }

    &:hover {
        h1, h2, h3, h4, h5, h6 {
            text-decoration: $body-color underline;
        }
    }
}

.event-card-container {
    a {
        text-decoration-line: none;
        
        .event-card {
            transition: filter 0.5s;
        }

        &:hover .event-card {
            filter: brightness(1.2);
        }
    }

    .event-card {
        width: 100%;
        height: 500px;
        border-radius: 2.5rem;
        background-size: cover;
        background-position: center left;
        display: flex;
        align-items: end;

        .event-info {
            width: 100%;
            height: 250px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
            border-radius: inherit;
            display: flex;
            flex-direction: column;
            justify-content: end;

            > * {
                margin-left: 50px;
            }

            .date-time {
                margin-bottom: 0;
            }

            .title {
                margin-bottom: .75rem;
            }
        }
    }
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0px 50px;

    .info-card {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;

        img {
            width: 100%;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 0.25rem;
        }
    }
}

.contact-form-container {
    @extend .my-5;
    @extend .py-5;
    background-color: #042329;
    border-radius: 2.5rem;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

    .contact-form-column {
        flex: 1;
    }
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;

    input, textarea {
        background-color: #09414C;
        color: #fff;
        padding: 1rem 1rem;
        margin: 0 0 1rem 0;
        border: none;
        width: 100%;

        &::placeholder {
            color: #fff;
            font-family: $headings-font-family;
            letter-spacing: .2rem;
        }
    }
}

.shrink {
    flex: 0 1 auto;
}

.grow {
    flex: 1 1 auto;
}

a .event-info {
    text-decoration-line: none;
}

@include media-breakpoint-up(md) {
    .navbar-nav .nav-item * {
        font-size: 1.5rem;
    }

    .info-cards {
        flex-wrap: nowrap;

        .info-card {
            flex-basis: 33%;
        }
    }

    .contact-form-container {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}