---
layout: default
---

<header class="intro">
  {% if page.image %}
  {% assign intro_image = page.image.path | default: page.image | relative_url | escape %}
  <div class="intro-image">
    <img src="{{ intro_image }}" alt="{{ page.title }}">
  </div>
  {% endif %}

  <div class="inner">
    <div class="intro-text">
      <h1 id="page-title" class="intro-title">{{ page.alt_title | default: page.title | default: site.title |
        markdownify | strip_html }}</h1>
      {% if page.sub_title %}
      <p class="intro-subtitle">{{ page.sub_title | markdownify | strip_html }}</p>
      {% endif %}

      {% if page.event_date %}
      <p class="entry-meta">
        <span class="byline-item"><span class="icon">{% include icon-calendar.svg %}</span>
          {% if page.ongoing %}Starting {% else %}On {% endif %}
          <time datetime="{{ page.event_date | date_to_xmlschema }}">{{ page.event_date | date: "%B %-d, %Y at %R" }}</time></span>
      </p>
      {% elsif page.event_dates %}
      <p class="entry-meta">
        <span class="byline-item"><span class="icon">{% include icon-calendar.svg %}</span>
        {% for date in page.event_dates %}
          {% if forloop.first %}<time class="entry-time" datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%B %-d, %Y" }}</time>
          {% else %}, <time class="entry-time" datetime="{{ date | date_to_xmlschema }}">{{ date | date: "%B %-d, %Y" }}</time>
          {% endif %}
        {% endfor %}
      </p>
      {% else %}
      <p class="entry-meta">
        <span class="byline-item"><span class="icon">{% include icon-calendar.svg %}</span>Coming soon!</span>
      </p>
      {% endif %}

      {% if page.location %}
      <p class="entry-meta">
        {% if page.location_link %}<a href="{{ page.location_link }}">{% endif %}
          <span class="byline-item"><span class="icon">{% include icon-map.svg %}</span><span class="location">{{
              page.location }}</span></span></span>
          {% if page.location_link %}</a>{% endif %}
      </p>
      {% endif %}

      {% if page.introduction %}
      <div class="intro-more">
        {{ page.introduction | markdownify }}
      </div>
      {% endif %}

      {% if page.actions %}
      <ul class="intro-actions">
        {% for action in page.actions %}
        <li><a href="{{ action.url }}" class="btn">{% if action.icon %}<span class="icon">{% include {{ action.icon |
              prepend: 'icon-' | append: '.svg' }} %}</span>{% endif %}{{ action.label }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</header>


<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
      {% endif %}
    </article>
  </div>
</main>